
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }


        .bg {
          animation:slide 3s ease-in-out infinite alternate;
          background-image: linear-gradient(-60deg, rgb(131, 66, 168) 50%, rgb(199, 163, 255) 50%);
          bottom:0;
          left:-50%;
          opacity:.5;
          position:fixed;
          right:-50%;
          top:0;
          z-index:-1;
        }
        
        .bg2 {
          animation-direction:alternate-reverse;
          animation-duration:4s;
        }
        
        .bg3 {
          animation-duration:5s;
        }
        @keyframes slide {
          0% {
            transform:translateX(-25%);
          }
          100% {
            transform:translateX(25%);
          }
        }


        header {
            text-align: center;
            height: 15vh;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95vw;
            margin: 0 auto;
        }

        main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            align-self: center;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 20px;
        }

        .item {
            flex: 1 1 auto;
            max-width: 60%;
            text-align: center;
           
        }

        @media (max-width: 768px) {
            .item {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }

.rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #2B3044,
      0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px)
      rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
  }
  
  .sp {
    background: linear-gradient(
        90deg,
        #866ee7,
        #ea60da,
        #ed8f57,
        #fbd41d,
        #2cca91
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
  }
  
  .rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
  }





@media (max-width: 1200px) {
    .grid-item {
        flex: 1 1 calc(50% - 32px);
    }
}

@media (max-width: 768px) {
    .grid-item {
        flex: 1 1 calc(100% - 32px);
    }
}

/* From Uiverse.io by cssbuttons-io */ 
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

   /* From Uiverse.io by tarantino421 */ 
.box {
    --clr-shadow__border: #d9a1ff;
    --clr-text: #F6F4EB;
    --clr-space: #120e1e;
    --clr-space-gr: #271950;
    --clr-star: #E9F8F9;
    --size: 3rem;
    position: relative;
    outline: 1px solid var(--clr-shadow__border);
    width: 100%;
  }
  
  .buttonspace {
    width: 100%;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    background: transparent;
    padding: calc(var(--size) / 3) var(--size);
    border: none;
    cursor: pointer;
    color: var(--clr-text);
    text-shadow: 2px 0px var(--clr-shadow__border), 0px 2px var(--clr-shadow__border),
    -2px 0px var(--clr-shadow__border), 0px -2px var(--clr-shadow__border);
  }
  
  .space {
    width: 100%;
    height: 100%;
    bottom: 0%;
    gap: 1.5rem;
    transition: 0.5s ease-in-out;
    z-index: -1;
    opacity: 0.6;
    overflow: hidden;
    position: absolute;
    display: flex;
    background: linear-gradient( 160deg, var(--clr-space), var(--clr-space-gr));
  }
  
  .box:hover .space {
    opacity: 1;
  }
  
  .star {
    height: 4rem;
    width: 0.3rem;
    transition: 0.5s;
    border-radius: 50px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    position: relative;
    background-color: var(--clr-star);
    animation: space-animation calc(0.1s * var(--i)) linear infinite;
  }
  
  @keyframes space-animation {
    0% {
      transform: rotate(-30deg) translateY(calc(-52% * var(--i)));
    }
  
    100% {
      transform: rotate(-30deg) translateY(calc(52% * var(--i)));
    }
  }
  
  #maciek {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  #maciek:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  
  
  
  .buttontrzy {
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
  }
  
  .buttontrzy:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
  }
  
  
  
  /* From Uiverse.io by arieshiphop */ 
.button4 {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
 }
 
 .button4:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
 .button4:active {
  transform: translate(0em, 0.2em);
 }

 .golden-button {
  touch-action: manipulation;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}

.golden-button:focus,
.golden-button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.golden-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}
